{% extends 'Base.html' %}
{% load static %}
{% block main %}
<style>
    .inFormBackground {
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 65vh;
    }
    label{
        color: #030303;
    }
    .inLoginForm {
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
        border: 1px solid rgb(221, 25, 25);
        min-width: 500px;
        width: 100%;
        background-color: #cccccc0c;
    }
    .inputGroup {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .inputGroup label {
        margin-bottom: 5px;
        font-weight: bold;
        color: #ccc;
    }
    .inputGroup input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .submitForm {
        display: inline-block;
        padding: 10px 20px;
        background-color: #ff5f5f;
        border: none;
        border-radius: 4px;
        color: #ccc;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 20px;
    }
    @media (max-width: 600px) {
        .form-columns {
            grid-template-columns: 1fr;
        }
        .inFormBackground{
            padding:0;
            margin:0;
        }
        .inLoginForm{
            width:250px;
            margin:0;
        }
        .circle{
            display:none
        }
    }
</style>
<div class="inFormBackground">
    <div class="inLoginForm">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: #ee0e0e;">{{ message }}</p>
                {% endfor %}
            {% endif %}
            <div class="form-columns">
                <div class="inputGroup">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter Username" required>
                </div>
                <div class="inputGroup">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter Password" required>
                </div>
            </div>
            <div style="display: flex;justify-content:center;">
                <button class="submitForm" style="color:black">login </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}